#chat2 .form-control {
    border-color: transparent;
    }
    
    #chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
    }
    
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    @media screen and (max-width: 300px) {
        .chatmessages {
            width: 100px;
        }
    }

    @media (min-width: 350px) and (max-width: 800px){
        .chatmessages {
            width: 300px;
        }
    }
    
    @media screen and (min-width: 805px){
        .chatmessages {
            width: 800px;
        }
    }